
@{
    ViewBag.Title = "Succeed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="alert alert-success">
            <h4>
                Bạn vừa mua hàng thành công.
                Vui lòng đợi trong khi hàng được giao đến.
            </h4>
        </div>
    </div>
</div>
