@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Phản hồi ý kiến nhận xét của Khách Hàng {{CustomerName}}</title>
</head>
<body>
    <div>Kính gửi anh(chị): {{CustomerName}}</div>
    <div>Chúng tôi xin thay mặt đội ngũ của <span style="color: red">BookStore</span> cảm ơn đến bạn vì đã ủng hộ sản phẩm của <span style="color: red">BookStore</span></div>
    <div>Tên mặt hàng đã mua: {{BookName}}</div>
    <div>{{content}}</div>
    <div>Xin hân hạnh được phục vụ bạn trong những lần mua sách tiếp theo.</div>
    <div>Ban Quản Trị của <span style="color: red">BookStore</span></div>
</body>
</html>
