@model List<BS_Project.Models.CartItem>


@if (ViewBag.Status != null)
{

    <div class="wthreecartaits wthreecartaits2 cart cart box_1">
        @*<a href="/OrderBook/Index"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>*@
        <form action="/gio-hang" method="post" class="last">
            <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
            @if (Model.Count == 0)
            {
                @*<span id="totalBook" class="cm-number">@ViewBag.BookBorrowed</span>*@
            }
            else
            {
                @Model.Count
                @*<span id="totalBook" class="cm-number">@Session["OrderCart"]</span>*@
            }
        </form>

    </div>
}
else
{
    <div class="wthreecartaits wthreecartaits2 cart cart box_1">
        @*<a href="/OrderBook/Index"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>*@

        <form action="" class="last" id="btnOrderCart">
            <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
        </form>
        @*<div class="last">
                <a href="#" class="w3view-cart" data-toggle="modal" data-target="#myModal"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
            </div>*@

    </div>
}
