@{
    var item = (User)ViewBag.User;
}
<div class="sidebar">
    <!-- User Widget -->
    <div class="widget user-dashboard-profile">
        <!-- User Image -->
        <div class="profile-thumb">
            @if (@item.ImageURL == "")
            {
                <img id="user_img" src="~/Content/images/not-found.png" alt="" class="rounded-circle" />
            }
            else
            {
                <img id="user_img" src="~/Content/images/image profile/@item.ImageURL" alt="" class="rounded-circle" />
            }
        </div>
        <!-- User Name -->
        <h5 class="text-center">@item.Username</h5>
        <p>Ngày Sinh: @CommonConstant.GetWeekOfDate(item.Birthday, "dd/MM/yyyy")</p>
    </div>
    <div class="widget user-dashboard-menu">
        <ul>
            <li>
                <a class="btn btn-default text-info" href="@Url.Action("OrderHistory",new { userName = item.Username })">Lịch Sử Đặt Hàng</a>
            </li>
        </ul>
    </div>
</div>
